<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>sing up</h1>
            <div class="card">
                <div class="card-body">
                    <label for="">usuario</label><br>
                    <input type="text"><br>
                    <label for="">Contraseña</label><br>
                    <input type="password"><br>
                    <br><br><br><br>
                    <button class="btn btn-primary ">Registrate</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>sing in</h1>
            <div class="card">
                <div class="card-body">
                    <label for="">usuario</label><br>
                    <input type="text"><br>
                    <label for="">Contraseña</label><br>
                    <input type="password"><br>
                    <br><br><br><br>
                    

<a asp-area="" asp-controller="Users" asp-action="Index" ><button type="submit" class="btn btn-primary">Ingresar</button></a>

                </div>
            </div>
        </div>
    </div>
</div>