<h1 style="text-align: center; font-size: 50px;" class="mt-5">Bienvenidos a mi pagina</h1>
<br><br><br><br>
<center>
<div class="container mt-5 ">
<div class="row mt-5"">
        <div class="col-md-3">
            <button  style="background-color: bisque;" asp-controller="Users" asp-action="Index"> Gestion de productos</button>
        </div>
        <div class="col-md-3">
            <button style="background-color: bisque; " >Registrate</button>
        </div>
        <div class="col-md-3">
            <button style="background-color: bisque;" >Gestion de usuarios</button>
        </div>

</div>
</div>