  <div style="display: flex;  ">
         <a class="nav-link " asp-area="" asp-controller="Dash" asp-action="Index" style="margin: 20px;">Inicio</a>
        <p style="margin: 20px;">Gestion de usuarios</p>
    </div>

<div class="row">
    <div class="col-md-10" style="border: 3px solid black; height: 300px; background-color: rgb(131, 192, 131);" >
        <br><br><br><br>
        <h4 style="text-align: center;">Se ha eliminado el usuario con éxito ✔️</h4><br><br><br>
        <center>
        <a  asp-controller="Users" asp-action="Index"> <button class="btn btn-primary">Ver listado de usuarios</button></a>
        </center>
    </div>
</div>