<div style="display: flex;  ">
        <a class="nav-link " asp-area="" asp-controller="Dash" asp-action="Index" style="margin: 20px;">Inicio</a>
        <p style="margin: 20px;">Gestion de usuarios</p>
</div>
<center>
<div class="row mt-5" >
    <div class="col-md-12" style="border: 4px solid black; display: flex;" >
        <div class="col-md-5">
            <p>nombres :  Juan david </p>
            <p>apellido : usuga Zapata</p>
            <p>edad :  20 </p>
        </div>
        <div class="col-md-5">
            <p>correo: deklan.com</p>
            <p>genero: m</p>
        </div>
</div>
</center>
<div class="mt-5">
    <center>
    
    <a asp-controller="Users" asp-action="Index" ><button class="btn btn-primary">Ver lista de usuarios</button></a>
    </center>
</div>
</div>